.list-group-item {
  user-select: none;
  text-align: left;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  border-color: white;
  cursor: grab;
}

.list-group-item-course {
  user-select: none;
  text-align: left;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  border-color: lightgray;
}

.list-group-item.active {
  color: #777;
  background-color: white;
  border-color: white;
  border-bottom-color: #007bff;
  border-bottom-width: 2px;
}

.list-group {
    display: flex;
    width: 100%;
}

.row {
  display: flex;
  width:100%;
  align-self: center;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 15px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 50%;
}

.btn-secondary {
  background-color: #232D4B !important;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #435076 !important;
}

.btn-link {
  color: #232D4B !important;
}
