.list-group {
  flex: 1;
  display: flex;
}

.list-group-item {
  text-align: left;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  border-color: white;
}


.list-group-item-tab {
  cursor: grab;
}
.list-group-item-course {
  border-color: lightgray;
}

.list-group-item.active {
  color: #777;
  background-color: white;
  border-color: white;
  border-bottom-color: #007bff;
  border-bottom-width: 2px;
}

.list-group {
    display: flex;
    width: 100%;
}

button {
  align-self: flex-start;
}

.dropdown-menu {
  width: 95%;
}

.dropdown-item {
  min-width: 100%;
  white-space: pre-line;
}

.dropdown-item:hover {
  color: black;
  background-color: E8E8E8;
  cursor: pointer;
}

.autocomplete {
  width:100%;
  margin-bottom: 15px;
}

.form-control {
  font-family: 'Roboto', sans-serif;
}

.strong {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

a {
  text-align: left;
}

label {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  flex:1;
}

p {
  align-self: flex-start;
  font-family: 'Roboto', sans-serif;
}

b {
  color: #777;
  text-align: center;
}

.col-8 {
  justify-content: center;
}

.column {
  display: flex;
  flex:1;
  flex-direction: column;
}

.row {
  display: flex;
  width:100%;
  align-self: center;
  justify-content: center;
}

.container-fluid {
  display: flex;
  height: 100%;
  align-items: center;
}

form {
  width: 100%;
  height: 80%;
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 50%;
}

.modal-dialog {
  width: 75vw;
}

.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.saveButton {
  background-color: #232D4B;
  color: white;
  border-color: rgba(0,0,0,.14);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.12);
  font-size: 15px;
  line-height: 18px;
  padding: 8px 15px;
  text-align: center;
  transition: all 100ms ease-out;
  width: 100%;
  font-size: 20px;
}

.saveButton:hover {
  background-color: 435076;
  color: white;
  cursor: pointer;
}

.fa-plus-square {
  color: grey;
}

.fa-plus-square:hover {
  color: A0A0A0;
  cursor: pointer;
}

.addButton {
  background-color: white;
}

.span {
  float: right;
}

.btn-outline-secondary {
  border-color: #232D4B !important;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
  background-color: #435076 !important;
}
