li a {
    color: lightblue;
}

.jumbotron{
    background-color: lightblue;
    text-align: center;
}

#name {
  margin: 8px 0 8px 8px;
  text-align: center;
}

#text {
    text-align: center;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
    color:black;
    text-align: center;
  }
