{% extends "login/base.html" %}
{% load static %}
{% load filters %}
{% block content %}
  <head>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
  </head>
  {% if courses %}
      <div class="container">
        <h1>Courses</h1>
        <ul class="list-group d-flex flex-row flex-wrap">
          {% for course in courses|makeList %}
          <div id="theDepartment">
            <a class="list-group-item list-group-item-action">
              {{course|get_index:0}} {{course|get_index:1}} - {{course|get_index:2}}
            </a>
            </div>
          {% endfor %}
        </ul>
      </div>

  {% else %}
      <p>No courses are available.</p>
  {% endif %}
{% endblock %}
