{% load static %}
<head>
  <title>Profile</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'login/images/favicon.ico' %}"/>
</head>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'login/profile.css' %}">

<div class="container">
  <div class="row text-center pt-5"><h3>Edit Profile</h3></div>

  <div class="row">
  <form method="post" onsubmit="handleSelectedClasses()">
    <div class="row justify-content-center w-75">
    <div class="col-md-12">
    {% csrf_token %}

    <!-- Bootstrap uneditable textfield for email -->
    <div class="form-group">
      <label for="exampleInputEmail1">Email address:</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="email" disabled value={{user_form.email}}>
      <small id="emailHelp" class="form-text text-muted">If you want to change this, create a new account.</small>
    </div>

    <!-- Profile form - username, phonenumber -->
    {{ profile_form.as_p }}
  </div>
  </div>


    <div class="row">
        <div class="col-8">
          <div id="prefetch" class="autocomplete">
            <input class="form-control" id="course" autofocus type="text" placeholder="Search" autocomplete="off">
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
          <div class="list-group list-group-horizontal" id="list-tab" role="tablist">
            <label class="list-group-item list-group-item-tab list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Classes I would like to tutor</label>
            <label class="list-group-item list-group-item-tab list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Classes I want help with</label>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            <div id="tutor_courses" class="list-group">
              {% for course in profile_form.tutor_courses %}
                <div id="Tutor:{{ course.dept }} {{course.number}} - {{ course.name }}" class="list-group-item list-group-item-course row">
                  <label>{{ course.dept }} {{course.number}} - {{ course.name }}</label>
                  <button type="button" class="btn" onClick="removeClass(this)"><i class="fa fa-trash"></i></button>
                  <input type="hidden" name="Tutor:{{ course.dept }} {{course.number}} - {{ course.name }}" value="course" />
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
            <div id="student_courses" class="list-group">
              {% for course in profile_form.student_courses %}
                <div id="Student:{{ course.dept }} {{course.number}} - {{ course.name }}" class="list-group-item list-group-item-course row">
                  <label>{{ course.dept }} {{course.number}} - {{ course.name }}</label>
                  <button type="button" class="btn" onClick="removeClass(this)"><i class="fa fa-trash"></i></button>
                  <input type="hidden" name="Student:{{ course.dept }} {{course.number}} - {{ course.name }}" value="course" />
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap dropdown list for setting tutor's location on map -->
    <div class="row justify-content-center w-75 pt-5">
      <div class="form-group">
        <label for="sel1"><b><h6>Set active tutoring location:</h6></b></label>
        <select class="form-control" id="sel1" name="location">
          <option>Clemons Library</option>
          <option>Alderman Library</option>
          <option>1515 on the Corner</option>
          <option>Clark Hall (Brown Science & Engineering Library)</option>
          <option>Rice Hall</option>
          <option>Inactive (hidden from map)</option>
        </select>
      </div>
    </div>

    <div class="row w-75">
    <button type="submit" class="btn saveButton mt-5">Save</button>
    </div>
  </form>
</div>
</div>


<script type="text/javascript">

  //Helper method to set multiple attributes of a JS element
  function setAttributes(el, attrs) {
    for(var key in attrs) {
      el.setAttribute(key, attrs[key]);
    }
  }

  function addtoClasses(course){
    document.getElementById('course').value = '';
    var section = document.getElementById('list-home-list').classList.contains("active") ? "Tutor" : "Student";
    var id = section + ":" + course;
    if(!document.getElementById(id)){
      course = course.trim();
      var ul = document.getElementById(section.toLowerCase() + "_courses");
      var li = document.createElement("div");
      var label = document.createElement("label");
      var button = document.createElement("button");
      setAttributes(button, {'class': 'btn', 'type': 'button'});
      var icon = document.createElement("i");
      setAttributes(icon, {'class': 'fa fa-trash'})
      var input = document.createElement("input");
      setAttributes(input, {'type': 'hidden', 'name': id, 'value': 'course'})
      button.appendChild(icon);
      label.innerHTML = course;
      setAttributes(li, {'class': 'list-group-item list-group-item-course row', 'id': course});
      li.appendChild(label);
      li.appendChild(button);
      li.appendChild(input);
      ul.appendChild(li);
    }
  }

  function removeClass(e){
    e.parentNode.parentNode.removeChild(e.parentNode);
  }

  /*
    Gets all UVA courses (passed in from views.py) and adds them to the searchbar datasource
    When a dropdown item is selected, addtoClasses is called
  */
  var courseNames = new Array();
  var courses = JSON.parse("{{classes|escapejs}}")
  $.each(courses, function ( key, course ){ courseNames.push( key + ' - ' + course );} );
  $( '#course' ).typeahead({ items:5, source:courseNames, afterSelect: function (course) {addtoClasses(course)}});
  
  $( document ).ready(function() {
    var select = document.getElementById('sel1');
    var children = select.childNodes;
    children.forEach(function(item){
      if(item.nodeName == 'OPTION') {
        var location = item.innerHTML.replace(/&amp;/g, '&');
        var profile_location = JSON.parse("{{profile|escapejs}}").location
        profile_location = (profile_location == 'Inactive') ? 'Inactive (hidden from map)' : profile_location
        console.log(location, profile_location);
        if(location == profile_location) {
          item.setAttribute('selected', true);
        }
      }
    });
  });
</script>
