{% load static %}
<head>
  <title>Profile</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'login/images/favicon.ico' %}"/>
</head>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'login/profile.css' %}">

<div class="container">
  <div class="row text-center pt-5"><h3>Edit Profile</h3></div>

  <div class="row">
  <form method="post" onsubmit="handleSelectedClasses()">
    <div class="row justify-content-center w-75">
    <div class="col-md-12">
    {% csrf_token %}

    <!-- Bootstrap uneditable textfield for email -->
    <div class="form-group">
      <label for="exampleInputEmail1">Email address:</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="email" disabled value={{user_form.email}}>
      <small id="emailHelp" class="form-text text-muted">If you want to change this, create a new account.</small>
    </div>

    <!-- Profile form - username, phonenumber -->
    {{ profile_form.as_p }}
  </div>
  </div>

    <!-- Select courses to tutor/get tutoring -->
    <div class="row">
        <div class="col-8">
          <div id="prefetch" class="autocomplete">
            <label class="pt-5"><b><h6>Search UVA classes</h6></b></label>
            <input class="form-control" id="course" autofocus type="text" placeholder="Search" autocomplete="off">
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
          <div class="list-group list-group-horizontal" id="list-tab" role="tablist">
            <label class="text-center list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home"><h6>Classes I would like to tutor</h6></label>
            <label class="text-center list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile"><h6>Classes I want help with</h6></label>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
            <div id="tutor_courses" class="list-group">
              {% for course in profile_form.tutor_courses %}
                <input type="checkbox" name="CBNameTutor{{ forloop.counter0 }}" value="{{ course.id }}" id="CheckBoxTutor:{{course.dept}} {{course.number}} - {{ course.name}}" />
                <label class="list-group-item list-group-item-course list-group-item-action" for="CheckBoxTutor:{{course.dept}} {{course.number}} - {{ course.name}}">{{ course.dept }} {{course.number}} - {{ course.name }}</label>
              {% endfor %}
            </div>
          </div>
          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
            <div id="student_courses" class="list-group">
              {% for course in profile_form.student_courses %}
                <input type="checkbox" name="CBNameStudent{{ forloop.counter0 }}" value="{{ course.id }}" id="CheckBoxStudent:{{course.dept}} {{course.number}} - {{ course.name}}" />
                <label class="list-group-item list-group-item-course list-group-item-action" for="CheckBoxStudent:{{course.dept}} {{course.number}} - {{ course.name}}">{{ course.dept }} {{course.number}}: {{ course.name }}</label>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap dropdown list for setting tutor's location on map -->
    <div class="row justify-content-center w-75 pt-5">
    <div class="form-group">
      <label for="sel1"><b><h6>Set active tutoring location:</h6></b></label>
      <select class="form-control" id="sel1" name="location">
        <option>Clemons Library</option>
        <option>Alderman Library</option>
        <option>1515 on the Corner</option>
        <option>Clark Hall (Brown Science & Engineering Library)</option>
        <option>Rice Hall</option>
        <option>Inactive (hidden from map)</option>
      </select>
    </div>
  </div>

    <div class="row">
    <button type="submit" class="btn saveButton mt-5">Save</button>
    </div>
  </form>
</div>
</div>


<script type="text/javascript">

  /*
    Every class list item has a checkbox.
    If a checkbox is selected, it shows a white x and makes the item red.
    Only checkboxes that are checked are sent in the POST request by default.
    So, I had to make hidden checkboxes for newly added courses that are the opposite selection state
    of recently addded course items so that I can send newly added, unchecked
    courses in the POST request.
  */
  function handleSelectedClasses(){
    var courses = $('[id^="CheckBox"]');
    for(var i = 0; i < courses.length; i++){
      if(courses[i].value == 'recentlyAdded'){
        var copy = document.getElementById(courses[i].id + 'hidden');
        copy.checked = !courses[i].checked;
      }
    }
  }

  //Helper method to set multiple attributes of a JS element
  function setAttributes(el, attrs) {
    for(var key in attrs) {
      el.setAttribute(key, attrs[key]);
    }
  }

  /*
    This function makes a new JS element with a list item and two checkboxes.
    One checkbox is hidden and one is not.
    If class is not already in list:
        Get course list. Either tutor or student
        Create label and shown checkbox
        Set checkbox name to CBName{section}:{coursename}
        Set checkbox id to CheckBox{section}:{coursename}, where section is either Tutor or Student
        Set label text to {coursename}
        Create copy of checkbox and set to hidden
        Add checkboxes and label to list
        Hide modal once added
    Else:
        Hide modal
  */
  function addtoClasses(course){
    document.getElementById('course').value = '';
    var id = 'CheckBox' + section + ":" + course;
    var section = document.getElementById('list-home-list').classList.contains("active") ? "Tutor" : "Student";
    if(!document.getElementById(id)){
      course = course.trim();
      var ul = document.getElementById(section.toLowerCase() + "_courses");
      var li = document.createElement("label");
      var check = document.createElement("input");
      setAttributes(check,{'type': 'checkbox','name': 'CBName' + section + ":" + course,'value': 'recentlyAdded','id': id})
      setAttributes(li, {'class': 'list-group-item list-group-item-course list-group-item-action', 'id': course, 'for': id});
      li.appendChild(document.createTextNode(course));
      var checkCopy = check.cloneNode(true);
      setAttributes(checkCopy, {'id': id+'hidden', 'value': 'new', 'hidden': true, 'name': 'CBName' + section + ":" + course});
      ul.appendChild(checkCopy);
      ul.appendChild(check);
      ul.appendChild(li);
    }
  }

  /*
    Gets all UVA courses (passed in from views.py) and adds them to the searchbar datasource
    When a dropdown item is selected, addtoClasses is called
  */
  var courseNames = new Array();
  var courses = JSON.parse("{{classes|escapejs}}")
  $.each(courses, function ( key, course ){ courseNames.push( key + ' - ' + course );} );
  $( '#course' ).typeahead({ items:5, source:courseNames, afterSelect: function (course) {addtoClasses(course)}});
  
  $( document ).ready(function() {
    var select = document.getElementById('sel1');
    var children = select.childNodes;
    children.forEach(function(item){
      if(item.nodeName == 'OPTION') {
        var location = item.innerHTML.replace(/&amp;/g, '&');
        var profile_location = JSON.parse("{{profile|escapejs}}").location
        profile_location = (profile_location == 'Inactive') ? 'Inactive (hidden from map)' : profile_location
        console.log(location, profile_location);
        if(location == profile_location) {
          item.setAttribute('selected', true);
        }
      }
    });
  });
</script>
