{% extends 'login/base.html' %}
{% load static %}
{% block content %}
{% load account %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% if user.is_authenticated %}
  <span id='name'>Welcome {{user.first_name}}, need a tutor?</span>
{% endif %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
     <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
