{% extends "login/base.html" %}
{% load static %}
{% block content %}
  <body>
    <link rel="stylesheet" type="text/css" href="{% static 'login/map.css' %}">
      <div class="container">
          <div class="map-example">
              <div class="row">
                  <div class="col-lg-6">
                      <div id="map"></div>
                  </div>
                  <div class="col-lg-6">
                      <div class="heading">
                          <h3 id='tutorName'>Tutor name</h3>
                          <div class="rating" id="theRating">
                            <i class="fa fa-star icon"></i>
                            <i class="fa fa-star icon"></i>
                            <i class="fa fa-star icon"></i>
                            <i class="fa fa-star icon"></i>
                            <i class="fa fa-star-o icon"></i>
                          </div>
                      </div>
                      <div class="info">
                          <p id="description1">Description</p>
                          <p id="description2">Description 2</p>
                      </div>
                      <div class="gallery">
                          <h4>Photos</h4>
                          <div class="row">
                            <div class="col-md-4"><a href="static/login/images/image2.jpg"><img class="img-fluid image" src="static/login/images/image2.jpg"></a></div>
                            <div class="col-md-4"><a href="static/login/images/image3.jpg"><img class="img-fluid image" src="static/login/images/image3.jpg"></a></div>
                            <div class="col-md-4"><a href="static/login/images/image4.jpg"><img class="img-fluid image" src="static/login/images/image4.jpg"></a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <script src="https://maps.google.com/maps/api/js?key=AIzaSyCzpXEnrlPfHixWPz9MNVsmyPtASla3jNU"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.js"></script>
      <script type="text/javascript">
        var map;
        var markers = [];
        var locations = [
          ['Bob 1', 38.036664, -78.50038, 5, "Hey", "Hey2"],
          ['Bob 2', 38.0339, -78.4991, 4, "Hey", "Hey2"],
          ['Bob 3', 38.03411, -78.49932, 3, "Hey", "Hey2"],
          ['Bob 4', 38.03267, -78.49445, 2, "Hey", "Hey2"],
          ['Bob 5', 38.035, -78.5003, 1, "Hey", "Hey2"],
          ['Clemons', 38.036528, -78.506079, 0, "Clemons Library", "Library"],
          ['Alderman', 38.036727, -78.505325, 0,  "Alderman Library", "Library"],
          ['Clark', 38.033088, -78.507951, 0,  "Charles L. Brown Science & Engineering Library", "Library"],
          ['1515', 38.035386, -78.500454, 0, "1515 on the Corner", "Study Space"],
          ['Rice Hall', 38.031838, -78.510867, 0, "Rice Hall", "Study Space"]
        ];
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: new google.maps.LatLng(38.031850, -78.493410)
          });
          infoWindow = new google.maps.InfoWindow
          var icon = "{% static 'login/images/tutor.png' %}"

          for (var i = 0; i < locations.length; i++) {
              var locationInfowindow = new google.maps.InfoWindow({
                  content: locations[i][0],
              });
              var marker = new google.maps.Marker({
                  position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                  map: map,
                  icon: icon,
                  title: locations[i][0],
                  rating: locations[i][3],
                  description1: locations[i][4],
                  description2: locations[i][5],
                  infowindow: locationInfowindow
              });
              markers.push(marker);
              (function(marker, i) {
                  google.maps.event.addListener(marker, 'click', function() {
                      selectTutor(marker);
                      hideAllInfoWindows(map);
                      marker.infowindow.open(map, marker);
                  });
              })(marker, i);
          }

          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              var pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
              };
              // map.setCenter(pos);
            }, function() {
              handleLocationError(true, infoWindow, map.getCenter());
            });
          } else {
            handleLocationError(false, infoWindow, map.getCenter());
          }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
          infoWindow.setPosition(pos);
          infoWindow.setContent(browserHasGeolocation ?
                                'Error: The Geolocation service failed.' :
                                'Error: Your browser doesn\'t support geolocation.');
          infoWindow.open(map);
        }

        function hideAllInfoWindows(map) {
           markers.forEach(function(marker) {
             marker.infowindow.close(map, marker);
          });
        }

        function selectTutor(marker){
          document.getElementById('tutorName').innerHTML = marker.title;
          var ratings = document.getElementById('theRating');
          while (ratings.firstChild) {
            ratings.removeChild(ratings.firstChild);
          }
          for(var i = 0; i<marker.rating; i++){
            var star = document.createElement("i");
            star.classList.add('fa');
            star.classList.add('fa-star');
            star.classList.add('icon');
            ratings.appendChild(star)
          }
          for(var i = 0; i<5-marker.rating; i++){
            var star = document.createElement("i");
            star.classList.add('fa');
            star.classList.add('fa-star-o');
            star.classList.add('icon');
            ratings.appendChild(star)
          }
          document.getElementById('description1').innerHTML = marker.description1;
          document.getElementById('description2').innerHTML = marker.description2;
        }

        initMap()
        selectTutor(markers[0]);
      </script>

  </body>
{% endblock %}
